@import url("https://use.typekit.net/qpx3yzm.css");

.clear1 {
    clear: both;
    height: 1em;
}

.clear2 {
    clear: both;
    height: 2em;
}

.clear3 {
    clear: both;
    height: 3em;
}

.clear4 {
    clear: both;
    height: 4em;
}

.clear5 {
    clear: both;
    height: 5em;
}

.clear6 {
    clear: both;
    height: 6em;
}

.clear7 {
    clear: both;
    height: 7em;
}

.clear8 {
    clear: both;
    height: 8em;
}

.clear9 {
    clear: both;
    height: 9em;
}

.clear10 {
    clear: both;
    height: 10em;
}

.logo-home {
    display: block;
    height: auto;
    margin: 0 auto;
}

.content {
    display: block;
    float: left;
    width: 100%;
}

.container {
    display: table;
    width: 90%;
    height: 100vh;
    margin: 0 auto;
}

.inner-container {
    display: table-cell;
    vertical-align: middle;
}

.copyright {
    position: fixed;
    bottom: 0;
    width: 100%;
    float: left;
}

.copyright p {
    font-size: 0.825em;
}

ul.center-list {
    display: table !important;
    margin: 0 auto;
}

ul.center-list li {
    display: inline;
    padding: 0em 0.5em;
    font-size: 1.25rem;
}

ul.center-list li a {
    color: #fff;
}
